<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            
            <% avatar_url = User.avatar_url(@user, 128) %>
            <% unless avatar_url.nil? %>
              <div class="media-left">
                  <%= image_tag avatar_url, class: 'media-object' %>
              </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>,
                    <%= pluralize(@user.favorites.count, 'favorite') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h2><%= user_posts?(current_user) %></h2>
<%= render @user.posts %>

<h2><%= user_comments?(current_user) %></h2>
<%= render @user.comments %>

<h2><%= user_favorites?(current_user) %></h2>
<% @user.favorites.each do |f| %>
  <% avatar_favorite = User.avatar_url(f.post.user, 48) %>
    <% unless avatar_favorite.nil? %>
      <div class="media-left">
        <%= image_tag avatar_favorite, class: 'media-object' %>
      </div>
    <% end %>
    <div class="media-right">
      <%= render f.post %>
    </div>
<% end %>
  
